body {
  background-color: #c281b0;
  color: #ffffff;
  line-height: 1.5em;
  margin: 0em;
  text-align: center;
}

h1{
  font-family: 'Brush Script MT', cursive;
  font-size: 50px;
  font-weight: 800;
  margin: 15px 0;
  color: #000000;
}

h2{
  font-family: monaco;
  font-weight: 800;
  margin: 15px 0;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}
/* Teeth Option */
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  max-width: 150px;
  height: 150px;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 3px solid rgb(1, 9, 9);
  margin-left: auto;
  margin-right: auto;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #f3e95f;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 16px 32px;
}

.clm {
  float: left;
  width: 25%;
  padding: 3px;
}


